.identity {
    border-bottom: .15em solid rgba(0, 0, 0, .035);
    display: block;
    line-height: 1.2em;
    margin: .4em auto;
    padding: .4em;
    position: relative;
    width: 90%;
    transition-duration: .3s
}

.identity:hover {
    background-color: rgba(0, 0, 0, .055)
}

.identity a {
    text-decoration: none;
    display: block
}

.identity a>*, .identity>* {
    vertical-align: middle
}

.identity .link {
    bottom: .5em;
    color: #6f656d;
    display: inline-block;
    position: absolute;
    right: .45em;
    text-align: right
}

.button, .identity .fa {
    text-align: center
}

.button, .identity .fab {
    text-align: center
}

.button, .identity .far {
    text-align: center
}

.button, .identity .fas {
    text-align: center
}

.identity .fa {
    color: #a79e9d;
    font-size: 1.6em;
    width: 1.5em
}

.identity .fab {
    color: #a79e9d;
    font-size: 1.6em;
    width: 1.5em
}

.identity .far {
    color: #a79e9d;
    font-size: 1.6em;
    width: 1.5em
}

.identity .fas {
    color: #a79e9d;
    font-size: 1.6em;
    width: 1.5em
}

.identity .where {
    color: #333
}

.identity .where .status {
    vertical-align: sub;
    font-size: .3em
}

.identities {
    margin: 0;
    padding: 0
}

.identity-category {
    background: rgba(255, 255, 255, .92);
    padding-bottom: 1.6em;
    padding-top: 1em
}

.identity-category .title {
    font-weight: 300;
    line-height: 2em;
    margin: 0
}

.identity-category .title .tag {
    font-size: .75em
}

.identity-category .title .fa {
    color: #a79e9d;
    margin: 0 .2em;
    transform: rotateZ(-23deg);
    transition-duration: .3s
}

.identity-category .title .fab {
    color: #a79e9d;
    margin: 0 .2em;
    transform: rotateZ(-23deg);
    transition-duration: .3s
}

.identity-category .title .far {
    color: #a79e9d;
    margin: 0 .2em;
    transform: rotateZ(-23deg);
    transition-duration: .3s
}

.identity-category .title .fas {
    color: #a79e9d;
    margin: 0 .2em;
    transform: rotateZ(-23deg);
    transition-duration: .3s
}

.button, .chem-element {
    transition-duration: .5s
}

.identity-category .title .fa:hover {
    transform: rotateZ(0)
}

.identity-category .title .fas:hover {
    transform: rotateZ(0)
}

.identity .where {
    color: #333
}

.identity .link {
    bottom: .5em;
    color: #6f656d;
    display: inline-block;
    position: absolute;
    right: .45em;
    text-align: right
}

.identity .where .status {
    vertical-align: sub;
    font-size: .3em
}