.header .labels {
    margin: .5em 0
}

.header .labels .label {
    background: #55474a;
    box-shadow: 0 0 .15em .15em rgba(0,0,0,.07);
    color: #fff;
    display: inline-flex;
    align-items: center;
    font-weight: 300;
    padding: .5em .75em;
    position: relative;
    margin: 1.2em 0 0.2em 0;
    vertical-align: bottom;
    transition-duration: .5s
}

.header .labels .label:hover {
    background: rgba(85,71,74,.7)
}

.header .labels .label::before {
    color: #f8f8f8;
    content: attr(alt);
    font-size: .5em;
    left: 0;
    position: absolute;
    text-shadow: 2px 2px 4px rgba(0,0,0,.25);
    top: -1.75em
}

.header .labels .label>* {
    margin-right: .25em
}

.header .labels .label .content{
    color: #eee 
}

.header .labels .label.next {
    margin-top: -.5em
}

.header .picture {
    background: #fff;
    border-radius: 50%;
    box-shadow: 0 0 .15em .15em rgba(0,0,0,.08);
    box-sizing: content-box;
    display: block;
    padding: 3%;
    width: 94%;
    transition: transform .2s
}

.header .picture:hover {
    transform: scale(1.05)
}

.header .picture-container {
    padding: 1.25em
}
